.sf-radio {
    width: 100%;
    height: 100%;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}

.sf-radio .sf-radio-title {
    float: left;
    padding-right: 20px;
}

.sf-radio .sf-radio-title .sf-nullable {
    float: left;
    padding-right: 5px;
    color: red;
}