/* 表格样式 */

.ant-table-thead .ant-table-cell{
    background: #f0f9ff;
    color: #1D2129;
    font-weight: 500;
}

.ant-table-tbody .ant-table-cell{
    color: #1D2129;
}

.ant-table-tbody .ant-table-row:nth-child(even){
    /* background: #F8FCFF; */
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
    padding: 9px 16px;
    font-size: 14px;
}
.ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after{
    box-shadow: none;
}

.ant-table-tbody > tr.ant-table-row-selected > td, .ant-table-tbody > tr.ant-table-row-selected:hover > td{
    background: transparent;
    /* border-color: #f0f0f0; */
    /* border-color: #D7D7D7; */
}
.sf-table .ant-table-thead > tr > th,
.sf-table .ant-table-tbody > tr > td{
    border-bottom: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7 !important;
}
.sf-table table{
    border-top: 1px solid #D7D7D7 !important;
}
.sf-table .ant-table.ant-table-bordered > .ant-table-container{
    border-left: 1px solid #D7D7D7;
}

.sf-table .sf-edit-cell{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sf-edit-cell p{
    margin-bottom: 0;
}
.sf-edit-icon{
    width: 16px;
}
.sf-edit-cell img{
    padding-left: 6px;
    width: 20px;
    cursor: pointer;
}
.sf-edit-cell .ant-input{
    width: 80%;
}

.sf-table::-webkit-scrollbar-track {
	box-shadow : inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:10px;
	background-color:#F5F5F5;
}

.sf-table::-webkit-scrollbar {
	width:8px;
	background-color:#F5F5F5;
}

.sf-table::-webkit-scrollbar-thumb {
	border-radius : 10px;
	box-shadow : inset 0 0 6px rgba(0,0,0,.3);
	background-color:#cfcfcf;
}
.sf-table .ant-pagination-total-text{
    margin-right: 16px;
}


/* .sf-table .ant-table-content table{
    width: auto !important;
} */


.sf-table .ant-table-tbody a, .sf-table .ant-pagination-item-active a{
    color: #3889CD;
}
.sf-table .ant-pagination-item-active{
    border-color: #3889CD;
}

.sf-table .sg-no-audit{
    background: rgba(56, 137, 205, .2);
    color: #3889CD;
    border-radius: 2px;
    padding: 4px 7px;
}

.sf-table .sg-copy span:last-child{
    display: none;
    cursor: pointer;
}
.sf-table .sg-copy:hover span{
    display: block;
}

.sf-pageScroll .ant-table-cell{
    white-space: nowrap;
}